---


---
<div class="form">
  <div class="form-grid">
    <label>
      Vendedor
      <select id="vendedor">
        <option value="Maximo">Maximo</option>
        <option value="Jhon">Jhon</option>
        <option value="Escarlet">Escarlet</option>
        <option value="Jean">Jean</option>

      </select>
    </label>

    <!-- -->
    <!--<label>
      Estado venta
      <select id="estado">
        <option value="PAGADO">Pagado</option>
        <option value="DEUDA">Deuda</option>
      </select>
    </label> -->
    <!--<label>
      Fecha venta
      <input id="fecha" type="date" />
    </label> -->


    <label>
      Tipo venta
      <select id="tipoVenta">
        <option value="CONTADO">Contado</option>
        <option value="CREDITO">Crédito</option>
      </select>
    </label>

    <label>
      Buscar cliente
      <input id="buscarCliente" type="text"  placeholder="Escriba el nombre del cliente.."/>
      <input type="hidden" id="clienteid">
      <div id="listaClientes" class="autocomplete"></div>
    </label>

    <label class="full">
      Descripción venta
      <textarea id="descripcion"></textarea>
    </label>

    
    

    <label>
      Monto total venta
      <input id="monto" type="number" step="0.01" />
    </label>

   
    

    <label>
      Efectivo recibido
      <input id="efectivo" type="number" step="0.01" />
    </label>

    <div class="actions-left">
      <button id="btn-limpiarVenta" class="btn limpiar">LIMPIAR</button>
      <button id="btn-cancelarVenta" class="btn cancel">CANCELAR</button>
      <button id="btn-guardarVenta" class="btn save">REGISTRAR VENTA</button>
    </div>

    <label class="vuelto">
      Vuelto
      <input id="vuelto" type="number" disabled />
    </label>
  </div>
</div>

<script>
  const idcliente = document.getElementById('idcliente') as HTMLInputElement;
  const monto = document.getElementById('monto') as HTMLInputElement;
  const efectivo = document.getElementById('efectivo') as HTMLInputElement;
  const vuelto = document.getElementById('vuelto') as HTMLInputElement;
  const guardarVenta = document.getElementById('btn-guardarVenta') as HTMLButtonElement;

  const vendedor = document.getElementById('vendedor') as HTMLSelectElement;
  //const estado = document.getElementById('estado') as HTMLSelectElement;
  const tipoVenta = document.getElementById('tipoVenta') as HTMLSelectElement;
  const descripcion = document.getElementById('descripcion') as HTMLTextAreaElement;

  const buscarCliente = document.getElementById('buscarCliente') as HTMLInputElement;
  const lista = document.getElementById('listaClientes') as HTMLDivElement;
  const clienteid = document.getElementById('clienteid') as HTMLInputElement;
  let timeout = null;


  buscarCliente.addEventListener("input",e =>{
    const text = e.target.value;
    if(text.length < 1) {
      lista.innerHTML = "";
      return;
    }

    clearTimeout(timeout);
    timeout = setTimeout(() =>{
      buscarClientes(text);
    }, 300);

  });

  function buscarClientes(texto){
    fetch(`https://apioper.legumfrutsa.com/Api/Cliente/buscar?nombre=${texto}`)
    .then(rest => rest.json())
    .then(data => mostrarResultados(data))
    .catch(err => console.error(err));
  }
  
  function mostrarResultados(clientes) {
  lista.innerHTML = "";

    clientes.forEach(c => {
      const item = document.createElement("div");
      item.textContent = c.nombre;
      item.classList.add("item-cliente");

      item.onclick = () => {
        buscarCliente.value = c.nombre;
        clienteid.value = c.id_cliente;
        lista.innerHTML = "";
      };

      lista.appendChild(item);
    });
  }


  function calcularVuelto() {
    const m = Number(monto.value) || 0;
    const e = Number(efectivo.value) || 0;
    vuelto.value = (e - m).toFixed(2);
  }

  monto.addEventListener('input', calcularVuelto);
  efectivo.addEventListener('input', calcularVuelto);

  guardarVenta.addEventListener('click', async (e) => {
    e.preventDefault();
    const payload = {
      nombre_vendedor: vendedor.value,
      id_cliente: Number(clienteid.value),
      descripcion_venta: descripcion.value,
      tipo_venta: tipoVenta.value,
      //estado_venta: estado.value,
      efectivo_recibido: Number(efectivo.value),
      monto_total_Venta: Number(monto.value),
      monto_vuelto: Number(vuelto.value)
      //fecha_venta: new Date()
    };

    if (payload.efectivo_recibido < payload.monto_total_Venta) {
      alert('Efectivo insuficiente');
      return;
    }

    try {
      const res = await fetch(
        //'https://localhost:44313/Api/Venta',
        'https://apioper.legumfrutsa.com/Api/Venta',
        {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        }
      );

      if (!res.ok) {
        const error = await res.text();
        throw new Error(error);
      }

      alert('Venta registrada correctamente');
    } catch (err) {
      console.error(err);
      alert('Error al registrar la venta');
    }
  });
</script>