* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: #3b7280;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}



.product-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.product-card .img {
  width: 200px;
  height: 150px;
  background: #ddd;
  border-radius: 10px;
}

.reviews {
  padding: 3rem;
  text-align: center;
}

.review-grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.review {
  width: 150px;
  height: 100px;
  background: #b08c8c;
}

.about {
  display: flex;
  background: #3b7280;
  color: white;
  padding: 3rem;
}

















