<section class="about">
  <div class="about-text">
    <h2>QUIÉNES SOMOS</h2>
    <p>
      En LegumfrutKrchipulla hemos estado al servicio de la comunidad de Guayaquil desde 2019. 
      Poco a poco hemos expandido nuestros servicios, siempre ofreciendo productos únicos a precios competitivos. 
      Nuestros clientes saben que pueden confiar en nuestro equipo amigable y conocedor que siempre está atento para ayudarlos. 
      ¡Visita nuestra tienda y compra hoy!
    </p>
  </div>

  <div class="about-image">IMAGEN</div>
</section>
