<section>
    <footer class="footer">
        <p>
            © {new Date().getFullYear()} Todos los derechos reservados ·
            <a
            href="https://github.com/Javier-Cs"
            target="_blank"
            rel="noopener noreferrer"
            >
            Javier Cs
            </a>
        </p>
    </footer>
</section>
<style>
    
.footer {
  width: 100%;
  padding: 1rem 2rem;

  text-align: center;
  font-size: 0.85rem;
  color: var(--muted);

  position: fixed;
  bottom: 0;
  left: 0;

  background: transparent;
}

.footer a {
  color: var(--tercero);
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

</style>