<header class="header">

  <div class="header-left">
    <img src="https://javier-cs.github.io/Images-Box-Web/images/image.png" 
    alt="Logo" 
    class="logo">
  </div>

  <div class="header-left">
      <span id="fecha" class="clock"> --:--:--</span>
    </div>

  <nav class="header-center">
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">Services</a>
    <a href="#">Contáctanos</a>
  </nav>

  <div class="header-right">
    <div class="user">
      <img src="https://javier-cs.github.io/Images-Box-Web/images/perfil.png" 
      alt="user">
      <button class="BotonLogin">▼</button>
    </div>
  </div>

</header>


<script>
  document.addEventListener('DOMContentLoaded',()=> {
    function actualizarHora() {
    const ahora = new Date();
    const hora = ahora.toLocaleTimeString('es-MX', {
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    });

    const reloj = document.getElementById('fecha');
    if (reloj) {
      reloj.textContent = `Hora: ${hora}`;
    }
  }

  actualizarHora();
  setInterval(actualizarHora, 1000);

  });
</script>

<style>
  .header{
    background: #3b7280;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .header-left{
    display: flex;
    align-items: center;
  }

  .logo{
    height: 55px;
  }
  
  .header-nav{
    display: flex;
    gap: 2rem;
  }

  .header-nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
  }

  .header-nav a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s ease;
   }

   .header-nav a:hover::after{
    width: 100%;
   }

   .header-right{
    display: flex;
    align-items: center;
    gap: 1rem;
   }

   .clock{
    font-size: 0.9rem;
    opacity: 0.85;

   }

   .user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
   }

   .user img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
   }

   .Botonlogin{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
   }

   @media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}


</style>