<header class="header">
  <div class="logo">img Logo</div>

  <nav>
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">Services</a>
    <a href="#">Contáctanos</a>
  </nav>

  <div class="user">●</div>
</header>

<style>
    * {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: #3b7280;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  padding: 3rem;
  background: #e5e5e5;
}

.hero-image,
.about-image {
  background: #777;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
</style>