<section class="hero">
  <div class="hero-text">
    <h1>La mayor variedad de muchos tipos de productos de mejor calidad en todo momento del día</h1>
    <p>
      En Legumfrutkrchipulla hacemos todo lo posible por ofrecer una selección de productos buenos y baratos. 
      En esta área digital, donde los mejores productos se encuentran a sólo un clic de distancia, creemos que crear la colección adecuada requiere de experiencia y dedicación. 
      Descubre nuestros últimos productos y contáctanos si quieres más información.
    </p>
    <button class="hero-btrn">CONTÁCTANOS</button>
  </div>
  <div class="hero-image">
    <img src="https://javier-cs.github.io/Images-Box-Web/images/IMG_2.jpg" alt="Hero Image">
  </div>

  
</section>