<section class="hero">
  <div class="hero-text">
    <h1>Los mejores productos a tu mesa</h1>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto...
    </p>
    <button>CONTÁCTANOS</button>
  </div>

  <div class="hero-image">IMAGEN</div>
</section>

<style>
.hero {
  display: flex;
  padding: 3rem;
  background: #e5e5e5;
}

.hero-image,
.about-image {
  background: #777;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



</style>