<section class="products">
  <h2>TIPOS DE PRODUCTOS</h2>

  <div class="product-grid">
    <div class="product-card">
      <div class="img"></div>
      <p>TIPO DE PRODUCTO 1</p>
    </div>

    <div class="product-card">
      <div class="img"></div>
      <p>TIPO DE PRODUCTO 2</p>
    </div>

    <div class="product-card">
      <div class="img"></div>
      <p>TIPO DE PRODUCTO 3</p>
    </div>
  </div>
</section>

