<section class="reviews">
  <h2>RESEÑAS DE NUESTROS CLIENTES</h2>

  <div class="review-grid">
    <div class="review"></div>
    <div class="review"></div>
    <div class="review"></div>
    <div class="review"></div>
  </div>
</section>
