---
---
<div class="form">
  <div class="form-grid">
    
    <label>
      Buscar cliente
      <input type="number" id="idclienteDeuda"/>
    </label>

    <label>
      Estado venta
      <select id="estadoVntaRev">
        <option value="DEUDA">Deuda</option>
        <option value="PAGADO">Pagado</option>
        
      </select>
    </label>


    <label>
      Tipo venta
      <select id="tipoVntRev">
        <option value="CREDITO">Crédito</option>
        <option value="CONTADO">Contado</option>
        
      </select>
    </label>

    

    <div class="actions-left">
    <button id="btn-cancelar" class="btn cancel">CANCELAR</button>
    <button id="btn-buscar" class="btn buscar">BUSCAR DEUDA</button>
    </div>
</div>
<script>
  const idcliente = document.getElementById('idclienteDeuda') as HTMLInputElement;
  const estado = document.getElementById('estadoVntaRev') as HTMLSelectElement;
  const tipoVenta = document.getElementById('tipoVntRev') as HTMLSelectElement;
  const btnBuscarDeuda = document.getElementById('btn-buscar') as HTMLButtonElement;
  const btnCancelar = document.getElementById('btn-cancelar') as HTMLButtonElement;

  btnBuscarDeuda.addEventListener('click', async (e) =>{

    
    // si ingresa vacio el id_cliente, cargar todas las ventas con deuda
    if(!idcliente.value){
      const rest = await fetch('https://localhost:44313/Api/Venta/ConDeuda');
      const data = await rest.json();
      window.dispatchEvent(new CustomEvent('ventas-sin-filtro', {detail: data}));
    }
    
    try {
      const res = await fetch(`https://localhost:44313/Api/Venta/cliente/${idcliente.value}/estado/${estado.value}/tipo/${tipoVenta.value}`);
      const data = await res.json();
      window.dispatchEvent(new CustomEvent('ventas-filtradas', {detail: data}));

    } catch (error) {

      
    }

  });



</script>
