---
---
<div class="form">
  <div class="form-grid">
    
    <label>
      Buscar cliente
      <input type="text" />
    </label>

    <label>
      Estado venta
      <select>
        <option>Pagado</option>
        <option>Deuda</option>

      </select>
    </label>


    <label>
      Tipo venta
      <select>
        <option>Normal</option>
        <option>Credito</option>

      </select>
    </label>

    

    <div class="actions-left">
    <button class="btn cancel">CANCELAR</button>
    <button class="btn save">GUARDAR</button>
    </div>
</div>
