<div class="form">
  <div class="form-grid">

    

    <label>
      Buscar Producto
      <input id="buscarProducto" type="text"  placeholder="Escriba el nombre del producto.."/>
      <input type="hidden" id="CodeProduct">
      <div id="listaProductos" class="autocomplete"></div>
    </label>

    <label>
      Vendedor
      <select id="vendedor">
        <option value="Maximo">Maximo</option>
        <option value="Jhon">Jhon</option>
        <option value="Escarlet">Escarlet</option>
        <option value="Jean">Jean</option>

      </select>
    </label>
    
    <label>
      Vuelto
      <select id ="tipoventa">
        <option value="CONTADO">CONTADO</option>
        <option value="CREDITO">CREDITO</option>
      </select>
    </label>
  </div>
</div>

