---
interface Column<T = any> {
  label: string;
  field: keyof T;
}

interface Props<T = any>{
  columns: Column<T>[];
  rows: T[];
  keyField?: keyof T;
  selectable?:boolean;
  entity?: string;
}

const {
  columns = [],
  rows = [],
  keyField = 'id',
  selectable = false,
  entity
} = Astro.props as Props;
---

<div 
  class="table-wrapper" 
  data-entity ={entity}
  >
  <table>
    <thead>
      <tr>
        {selectable && <th></th>}
        {columns.map(col => (
          <th>{col.label}</th>
        ))}
      </tr>
    </thead>

    <tbody data-role="table-body">
      {Array.isArray(rows) && rows.length > 0 ? (
        rows.map(row => (
          <tr 
            class="table-row selectable-row" 
            data-id={row[keyField]}
            tabindex="0">
            {selectable && (
              <td>
                <input type="checkbox" value={row[keyField]}/>
              </td>
            )}
            {columns.map(col => (
              <td>{row[col.field] ?? ''}</td>
            ))}
          </tr>
        ))
      ):(
        <tr>
          <td colspan={columns.length + (selectable ? 1 : 0)}>
            SIN REGISTROS...
          </td>
        </tr>
      )}

    </tbody>
  </table>
</div>

<style>
  .selectable-row {
    cursor: pointer;
  }

  .selectable-row:hover {
    background-color: #f3f4f6;
  }
  
</style>

<script>

  const table = document.currentScript?.closest('.table-wrapper');

  if(!table || table.dataset.bound === 'true') {
    table.dataset.bound = 'true';

    table.addEventListener('click', (e) => {
      if(e.target.closest('input, button, a, [data-ignore-row-click]')) return;

      const row = e.target.closest('.selectable-row');
      if (!row) return;

      const id = row.dataset.id;
      if (!id) return;

      const entity = table.dataset.entity;

      if (!entity) {
        console.warn('Tabla sin entity definida');
      }

      row.dispatchEvent(new CustomEvent('row:selected', {
        detail: { id, entity },
        bubbles: true
      }));

      
    });
  }
 
 
</script>