---
{/*interfas de construccion de columnas */}
interface Column<T = any> {
  label: string;
  field?: keyof T;
  render?: (row: T) => string | number;
}

interface Props<T = any> {
  columns: Column<T>[];
  rows: T[];
  keyField?: keyof T;
  selectable?: boolean;
  entity?: string;
}




const {
  columns = [],
  rows = [],
  keyField = 'id',
  selectable = false
} = Astro.props as Props;
---

<div class="table-wrapper" data-entity ={Astro.props.entity}>
  <table>
    <thead>
      <tr>
        {selectable && <th></th>}
        {columns.map(col => (
          <th>{col.label}</th>
        ))}
      </tr>
    </thead>

    <tbody>
  {Array.isArray(rows) && rows.length > 0 ? (
    rows.map(row => (
      <tr class="table-row selectable-row"
          data-id={row[keyField]}>
            
        {selectable && (
          <td>
            <input type="checkbox" value={row[keyField]} />
          </td>
        )}

        {columns.map(col => (
          <td>
            {col.render
              ? col.render(row)
              : col.field
              ? row[col.field]
              : ''}
          </td>
        ))}
      </tr>
    ))
  ) : (
    <tr>
      <td colspan={columns.length + (selectable ? 1 : 0)}>
        Sin datos
      </td>
    </tr>
  )}
</tbody>
  </table>
</div>

<script>
 
  const table = document.currentScript?.closest('.table-wrapper');

  if(table && !table.dataset.bound){

    if(table.dataset.bound === 'true') return;
    table.dataset.bound = 'true';

    table.addEventListener('click', (e) => {
      if (e.target.closest('input, button, a, [data-ignore-row-click]')) return;

      {/* identifica la fila seleccionada */}
      const row = e.target.closest('.selectable-row');
      if (!row) return;

      {/* se obtiene el identificador  */}
      const id = row.dataset.id;
      if (!id) return;
      const entity = table.dataset.entity;

      {/*si no se obtiene la entidad */}
      if(!entity){
        console.warn('No se ha definido la entidad para esta tabla');
      }

      {/* dispatch event */}
      row.dispatchEvent(new CustomEvent('row:selected', {
        detail: { id, entity },
        bubbles: true
      }));
    });
  }

</script>