---
import Footer from '../components/web/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>Web en contruccion </title>
	</head>
	<body>
		<slot />
		<Footer/>
	</body>
</html>
<style>
	/* FONDO */
  body {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(135deg);
  }
</style>
